<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Software & Electronic Engineering</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">
            <i class="fas fa-home"></i> Home <span class="sr-only">(current)</span></a>
      </li>
      <!--<li class="nav-item">-->
        <!--<a class="nav-link" href="#">Link</a>-->
      <!--</li>-->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-book"></i> Modules
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/module_cloud">Cloud Computing</a>
            <a class="dropdown-item" href="/module_sweng">Software Engineering with Test</a>
            <a class="dropdown-item" href="/module_appdev">Mobile App Development</a>
            <a class="dropdown-item" href="/module_dsp">DSP</a>
            <a class="dropdown-item" href="/module_c++">C++ Programming</a>
            <a class="dropdown-item" href="/module_proeng">The Professional Engineer</a>
            <a class="dropdown-item" href="/module_project">Project Engineering</a>
            <a class="dropdown-item" href="/module_misc">Miscellaneous</a>
            <!--<div class="dropdown-divider"></div>-->
          <!--<a class="dropdown-item" href="#">Something else here</a>-->
        </div>
        <li class="nav-item timetable">
            <a class="nav-link" href="#"><i class="far fa-calendar-alt"></i> Timetable<span class="sr-only">(current)</span></a>
        </li>
    </ul>
      <a class="nav-link dropdown-toggle" href="#" id="navbarAccountDropdown" role="button" data-toggle="accountDropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user-circle"></i> Account
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarAccountDropdown">
          <a class="dropdown-item" href="#">Account Settings</a>
          <a class="dropdown-item" href="#">Log Out</a>

      </div>
    <!--<form class="form-inline my-2 my-lg-0">-->
      <!--<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
      <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
    <!--</form>-->
  </div>
</nav>