<div class="container">
  <div class="title-font">anime</div>
  <div class="item-container">
    {{# each items }}
      <article class="item" style="margin:10px;">
        <div>
          <a href ="/_{{this.ID}}">
          <img src="{{this.Image}}" style="width:300px;height:150px;object-fit:cover;">
        </div>
        <div>{{this.Name}}</div>
      </article>
    {{/each}}
  </div>
</div>
