<div class="row">
    <div class="col-sm-6 col-md-3">
        <div class="card">
            <img src="images/cloud.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Cloud Computing</h5>
                <p class="card-text">Tutor: Brian O'Shea</p>
                <a href="#" class="btn btn-primary">See More</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="card">
            <img src="images/software.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Software Engineering</h5>
                <p class="card-text">Tutor: Paul Dunne</p>
                <a href="#" class="btn btn-primary">See More</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="card">
            <img src="images/android.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Mobile App Development</h5>
                <p class="card-text">Tutor: Brian O'Shea</p>
                <a href="#" class="btn btn-primary">See More</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="card">
            <img src="images/dsp.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Digital Signal Processing</h5>
                <p class="card-text">Tutor: Michelle Lynch</p>
                <a href="#" class="btn btn-primary">See More</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-3">
        <div class="card">
            <img src="images/c++.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">C++ Programming</h5>
                <p class="card-text">Tutor: Michelle Lynch</p>
                <a href="#" class="btn btn-primary">See More</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="card">
            <img src="images/professional.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">The Professional Engineer</h5>
                <p class="card-text">Tutor: Des O'Reilly</p>
                <a href="#" class="btn btn-primary">See More</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="card">
            <img src="images/project.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Project Engineering</h5>
                <p class="card-text">Tutor: Niall O'Keefe</p>
                <a href="#" class="btn btn-primary">See More</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="card">
            <img src="images/team.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Miscellaneous</h5>
                <p class="card-text">Other useful learning resources</p>
                <a href="#" class="btn btn-primary">See More</a>
            </div>
        </div>
    </div>
</div>

