<div class="col d-flex justify-content-center">
    <div class="card" style="width: 18rem; background-color: rgba(255,255,255,0.76)">
        <div class="card-body">
            <h1 class="card-title">SUCCESS!</h1>
            <p class="card-text">You've successfully shared a file.</p>
            <a href="/upload" class="btn btn-primary" style="margin-top: 10px">Share Another</a>
        </div>
    </div>
</div>