<div class="container text-center">
  <div class="col-sm-12">
    <div class="form">
      <h1>Upload a file!</h1>

      <form action="/upload" enctype="multipart/form-data" method="POST">

        <select name="module" id="select" onchange="getPathName()">
          <option></option>
          <option value="Cloud" id="Cloud">Cloud Computing</option>
          <option value="SoftwareEng" id="SoftwareEng">Software Engineering with Test</option>
          <option value="MobileAppDev" id="MobileAppDev">Mobile App Development</option>
          <option value="DSP" id="DSP">DSP</option>
          <option value="C++" id="C++">C++ Programming</option>
          <option value="ProfessionalEng" id="ProfessionalEng">The Professional Engineer</option>
          <option value="ProjectEng" id="ProjectEng">Project Engineering</option>
          <option value="Misc" id="Misc">Miscellaneous</option>
        </select>
        <div class="inner-wrap">
          <label><input type="file" name="file" /></label>
          <div class="button-section">
            <input type="submit" value="Upload File"/>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
