<div class="col d-flex justify-content-center">
    <div class="card" style="width: 18rem; background-color: rgba(255,255,255,0.76)">
        <div class="card-body">
            <img src="/images/upload.png" class="card-img-top" alt="...">
            <h1 class="card-title">Share a file!</h1>
            <form action="/upload" enctype="multipart/form-data" method="POST">
                <select name="module" id="select" onchange="getPathName()" style="margin-bottom: 10px">
                    <option>Select a module...</option>
                    <option value="cloud" id="Cloud">Cloud Computing</option>
                    <option value="sweng" id="SoftwareEng">Software Engineering with Test</option>
                    <option value="appdev" id="MobileAppDev">Mobile App Development</option>
                    <option value="dsp" id="DSP">DSP</option>
                    <option value="c++" id="C++">C++ Programming</option>
                    <option value="proeng" id="ProfessionalEng">The Professional Engineer</option>
                    <option value="project" id="ProjectEng">Project Engineering</option>
                    <option value="misc" id="Misc">Miscellaneous</option>
                </select>
                <div class="inner-wrap">
                    <label><input type="file" name="file"/></label>
                    <button type="submit" class="btn btn-primary" style="margin-top: 10px">Upload
                    </button>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
