<head>
    <link rel="shortcut icon" href="/images/noodle2.PNG" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/upload.css"/>
</head>
<body style="background-image: url(/images/background.jpg); background-size: 100%">
<div class="col d-flex justify-content-center align-self-center">
    <div class="card align-middle" style="width: 18rem; background-color: rgba(255,0,29,0.76);">
        <img src="/images/noodle2.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h2 class="display-4" style="color: white; font-family: Impact; text-align: center">NOODLE</h2>
            <p class="lead" style="color: yellow; text-align: center">A student file-sharing portal</p>
            <div class="card-footer text-center ">
            <div class="buttonGroup" style="margin: auto; align-content: center;">
                <a class="btn btn-primary  pull-left" href="/user/signin" role="button" style="margin-top: 5px; ">Sign In</a>
                <a class="btn btn-primary  pull-right" href="/user/signup" role="button" style="margin-top: 5px; ">Register</a>
            </div>
        </div>
        </div>
    </div>
</div>

</body>
