<div class="col d-flex justify-content-center">
    <div class="card" style="width: 18rem; background-color: rgba(255,255,255,0.76)">
        <img class="card-img-top" src="/images/default-user2.png" alt="">
        <div class="card-body">
            <h5 class="card-title">{{user}}</h5>
            <p class="card-text">A quick description about the user. Perhaps a facility to add a description and some
                usage statistics.</p>
            <a href="/user/logout" class="btn btn-primary" style="margin-top: 10px">Sign Out</a>
        </div>
    </div>
</div>